---
import LegalLayout from "@layouts/Legal.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const policies = await getCollection("legal");

  const langs = Array.from(new Set(policies.map((policy) => policy.data.lang)));

  return policies.map((policy) => {
    const { type } = policy.data;
    const [appName] = policy.slug.split("/");
    const normalizeAppName = appName.toLowerCase();

    return {
      params: {
        appName: normalizeAppName,
        type,
      },
      props: {
        langs,
        policy,
        app: normalizeAppName,
        type,
      },
    };
  });
}

const { langs, policy, app, type } = Astro.props;
---

<LegalLayout title={`${policy.data.title} - ${app}`}>
  <h1>Privacy Policy</h1>
  <p>Select your language:</p>
  <ul>
    {
      langs.map((lang) => (
        <a href={lang}>
          <li key={lang}>{lang}</li>
        </a>
      ))
    }
  </ul>
</LegalLayout>
