---
import { getGuides } from "@utils/guides";
import GuidesLayout from "@layouts/Guides.astro";
import Chip from "@components/Chip.astro";
import type { Lang } from "@i18n/ui";

export async function getStaticPaths() {
  const lang: Lang = "en";
  const guides = await getGuides(lang);
  return guides.map((guide) => {
    return {
      props: { guides },
      params: { topic: guide.data.topic },
    };
  });
}

const { guides } = Astro.props;
const { topic } = Astro.params;
---

<GuidesLayout title={`Guides for ${topic}`} topic={topic}>
  <h1>Guides for {topic}</h1>
  {
    guides
      .filter((guide) => guide.data.topic === topic)
      .map((guide) => (
        <article class="guide-preview" key={guide.slug}>
          <h2>
            {guide.data.title} {guide.data.draft && <Chip text="Draft" />}
          </h2>
          <p>{guide.data.description}</p>
          {guide.data.tags && (
            <div class="tags">
              {guide.data.tags.map((tag) => (
                <Chip key={tag} text={tag} />
              ))}
            </div>
          )}
          <a class="read-more-link" href={`/${guide.slug}`}>
            Read more
          </a>
        </article>
      ))
  }
</GuidesLayout>
