---
import GuidesLayout from "@layouts/Guides.astro";
import Chip from "@components/Chip.astro";
import Button from "@components/Button.astro";
import Card from "@components/Card.astro";
import { UiKey } from "@i18n/ui";
import { LANG_CODES } from "@i18n/langs";
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import { getCollection } from "astro:content";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export const getStaticPaths = () => {
  return LANG_CODES.map((lang) => ({ params: { lang } }));
};

const guides = await getCollection(
  "guides",
  (guide) => !guide.data.draft && guide.id.endsWith(`${lang}.md`),
);
---

<GuidesLayout title={t(UiKey["title.guides"])}>
  <h1>{t(UiKey["guides.title"])}</h1>
  <section class="grid">
    {
      guides.map((guide) => (
        <article key={guide.slug}>
          <Card>
            <div class="guide-preview-content">
              <h2>
                {guide.data.title} {guide.data.draft && <Chip text="Draft" />}
              </h2>
              <p>{guide.data.description}</p>
              {guide.data.tags && (
                <div class="tags">
                  {guide.data.tags.map((tag) => (
                    <Chip key={tag} text={tag} />
                  ))}
                </div>
              )}
            </div>
            <div class="guide-preview-actions">
              <Button
                type="Text"
                href={`/${lang}/guides/${guide.slug.slice(0, -2)}`}
              >
                {t(UiKey["general.readmore"])}
              </Button>
            </div>
          </Card>
        </article>
      ))
    }
  </section>
</GuidesLayout>

<style>
  section {
    margin: 16px 0px;
  }

  p {
    margin: 8px 0px;
  }

  .guide-preview-content {
    flex-grow: 1;
    margin-bottom: 16px;
  }

  .guide-preview-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .tags {
    margin-top: 8px;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  .read-more-link {
    display: inline-block;
    margin-top: 12px;
    color: var(--accent-primary);
    text-decoration: none;
  }
</style>
