---
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import Base from "@layouts/Base.astro";
import Footer from "@components/Footer.astro";
import Bradcrumb from "@components/BreadCrumb.astro";
import Header from "@components/Header.astro";
import { UiKey } from "@i18n/ui";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

interface Props {
  title?: string;
  description?: string;
  type?: "website" | "article";
  guide?: string;
}
const { title = t(UiKey["title.guides"]), description, type, guide } = Astro.props;
const breadcrumbItems = [
  { label: t(UiKey["nav.guides"]), href: `/${lang}/guides` },
];
if (guide) {
  breadcrumbItems.push({ label: guide, href: "" });
}
---

<Base title={title} description={description} lang={lang} type={type}>
  <Header hideMenu />
  <main>
    <Bradcrumb slot="breadcrumb" items={breadcrumbItems} />
    <slot />
  </main>
  <Footer />
</Base>
